<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ios_target_sdk_version</key>
	<string>9</string>
	<key>ios_min_sdk_version</key>
	<integer>7</integer>
	<key>sdk_version</key>
	<string>ios-1.0.2</string>
</dict>
</plist>
